html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: $secondary;
    font-weight: 700;
    font-size: 8rem;
    line-height: 9.2rem;
    color: $black;
    letter-spacing: 0rem;
    text-transform: uppercase;
}

h2, 
h3, 
h4, 
h5, 
button, 
a {
    font-family: $primary;
    font-weight: 700;
    color: $black;
    letter-spacing: 0.1rem;
    margin: 0;
}

h2 {
    font-size: 4.2rem;
    text-transform: uppercase;
}

h3 {
    font-size: 3.2rem;
    text-transform: uppercase;
}

h4 {
    font-size: 2.4rem;
    text-transform: uppercase;
}

h5 {
    font-size: 2.4rem;
    text-transform: uppercase;
}

button {
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: center;
}

a {
    font-size: 2rem;
    line-height: 2.9rem;
    text-decoration: none;
}

p {
    font-family: $primary;
    color: $black;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0rem;
}

.button {
    background-color: $accent;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: inline-block;
    cursor: pointer;

    &:hover, &:focus {
        color: white;
        box-shadow: 5px 5px $orange;
        
    }

    &:active {
        transform: translate(5px, 5px);
        box-shadow: none;
    }
}

button {
    border: none;
}

footer {
    background-color: $grey;

    p,a {
        color: $white;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        margin: 0;
    }
}