@media (max-width: 1300px) {

    // removing the extra-long box-shadows on the index page because they misbehave under ~1300px

    section.blog-posts .container .blog-img-container::before {
        display: none; 
    }
}


@media (max-width: 1024px) {

    // GLOBAL //

    .wrapper {
        width: 85%;
    }


    // HOMEPAGE //

    .header-home .header-content {
        h1 {
            font-size: 8rem;
        }
    }    

    section.blog-posts {

        .container {
            align-items: center;

            &:nth-of-type(2) {
                .content-container {
                    align-self: center;
                }
                .blog-img-container {
                    align-self: center;
                }
            }
        }
    }

    section.link-grid ul {
        flex-direction: column;
        li {
            max-width: 100%;
        }
    }

    // BLOG //

    .flex-container {
        flex-direction: column-reverse;

        aside {
            margin-right: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 25px;

            >* {
                width: 50%;
            }
        }
    }

} // END OF 1024 MEDIA QUERY



@media (max-width: 800px) {
    // BASE //
    nav ul .logo {
        display: none
    }

    form {
        // size
        .name-field {
            grid-column-end: 3;
        }
        .email-field {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-column-end: 3;
        }
        textarea {
            grid-row-start: 3;
        }
        button {
            grid-row-start: 4;
        }
    }


    // HOMEPAGE // 

    .header-home .wrapper {
        flex-direction: column;
        justify-content: center;

        .header-content {
            margin-top: 50px;

            h1 {
                padding-right: 0;
                margin-bottom: 0;
            }
        }

        .header-image {
            width: 50%;
        }
        }

    .about-container {
        text-align: center;
        margin: 50px auto;
    }

    section.blog-posts .container {
        
        flex-direction: column;
        &:nth-of-type(2) {
            flex-direction: column;

            .content-container {
                margin: 50px 0;
            }
        }

        .blog-img-container {
            width: 80%;
        }

        .content-container {
            max-width: 80%;
            align-self: center;
        }
    }

    section.journey {

        .wrapper {
            flex-direction: column;
            align-items: center;
        }

        .img-container {
            width: 50%;
            margin-bottom: 50px;
        }

        .content-container {
            text-align: center;
        }
    }

    section.gallery .wrapper {
        ul {
            flex-wrap: wrap;
            justify-content: center;

            li {
                flex: 30%;
            }
        }
    }

    // CONTACT PAGE //

    section.contact {

        .wrapper {
            flex-direction: column-reverse;
            align-items: stretch;
        }

        .contact-info {
            margin-right: 0;
            margin-top: 50px;
            text-align: center;

            .social-icons {
                justify-content: center;
            }
        }
        
    }

    // BLOG PAGE //

    .flex-container {
        

        aside {
            flex-direction: column;

            >* {
                width: 100%;
            }
        }
    }

} // END OF 800 MEDIA QUERY



// PHONE

@media (max-width: 500px) {

    // NAV //
      
    nav {
        .menu-bars {
            display: block;
        }

        ul {
            flex-direction: column;
            background-color: $orange;
            position: absolute;
            z-index: 10;
            height: 30vh;
            left: 0;
            right: 0;
            top: -300px;
        }
    }
        


    .button {
        width: 100%;
    }

    // ABOUT SECTION 

    section.about {
        
        padding-bottom: 50px;

        .about-container {
            width: 100%;
        }
    }
    
    // BLOG POSTS SECTION
    section.blog-posts .container {
        
        .blog-img-container{
            width: 90%;
        }

        .content-container {
            max-width: 90%;
        }

    }

    // LINK GRID
    section.link-grid  {

        padding: 50px 0;

        li {
            p {
                display: none;
            }

            &:last-of-type {
                padding: 30px 0;
            }
        }
    }

    .full-bleed {
        height: 30vh;
    }

} // END OF 500 MEDIA QUERY

// XS

@media (max-width: 360px) {
    .header-home .header-content h1 {
        font-size: 6rem;
    }
}
