nav {
    background-color: $orange;
    padding: 5px 0;
    

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;

        .logo {
            font-family: $secondary;
            font-size: 3.2rem;
            font-weight: 700;
        }
        
        li {
            margin: 0 10px;
            
            a {
                padding: 2px 10px;
                font-size: 1.8rem;
                display: inline-block;
                transition: color .3s;
                
                &:hover, &:focus {
                    color: white;
                }
                &:focus {
                    border-bottom: 2px solid $white;
                    border-top: 2px solid $white;
                    outline: none;
                }
            }
        }
    }
    .hamburger {
        display: none;
        background: none;
        border:none;
        margin: 15px;

        i {
            font-size: 30px;
            color: black;
            transition: transform .5s;
            &.flip {
                transform: rotate(180deg) scale(1.3);
                color: white;
            }
        }
        
    }
}