@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');


// COLOURS

$black: #2c2c2c;
$dark-grey-blue: #285e64;
$orange: #f6a823;
$grey: #4f4f4f;
$accent: #05afc1;
$rust: #a82706;
$white: #f0efed;

// FONTS

$primary: 'Roboto', sans-serif;
$secondary: 'Lora', serif;

// ASSETS PATH

$assets: './../assets/'